{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlopEntity</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Field1</th>
                <td>{{ entity.field1 }}</td>
            </tr>
            <tr>
                <th>Field2</th>
                <td>{{ entity.field2 }}</td>
            </tr>
            <tr>
                <th>Customfield</th>
                <td>{{ dump(entity.customField) }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blopentity') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blopentity_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
