{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlopEntity edit</h1>

    {{ form_start(edit_form) }}

    {{ form_row(edit_form.customField.label0) }}

    {{ form_rest(edit_form) }}

    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blopentity') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
