{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlopEntity list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Field1</th>
                <th>Field2</th>
                <th>Customfield</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blopentity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.field1 }}</td>
                <td>{{ entity.field2 }}</td>
                <td>{{ dump(entity.customField) }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blopentity_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('blopentity_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blopentity_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
