{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillCustomFieldsBundle::Admin/layout.html.twig" %}

{% block admin_content %}
    <h1>CustomFieldsDefaultGroup list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Entity</th>
                <th>CustomFieldGroup</th>
            </tr>
        </thead>
        <tbody>
        {% for defaultGroup in defaultGroups %}
            <tr>
                <td>{{ defaultGroup.entity  }}</td>
                <td>{{ defaultGroup.customFieldsGroup.name['fr'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form) }}
    {{ form_row(form.cFGroup) }}

    <button type="submit">
        set as Default
    </button>
    {{ form_end(form) }}
{% endblock %}
